body {
    background-color: #111 !important;
}

.dashboard-content {
    margin: 80px 80px;
 
}


/* breadcrumb style */
.content-view
{
 margin-left: 2.8em;
 font-size: 17px;
}

.dashboard-content .breadcrumb {
    padding: 7px 2px;
    margin-bottom: 3px;
    border-radius: 4px;
    margin: 0;
    font-size: 15px;
    margin-left: 3.2em;
}


.dashboard-content .breadcrumb>li {
    display: inline-block;
    font: normal normal normal 14px/17px Roboto-light;
    color: #020202;
    cursor: pointer;
    
}

.dashboard-content .breadcrumb>li+li:before {
    padding: 0 3px 0 1px;
    color: #000B28;
    content: "\003e";
    font-size: 11px;
}

.dashboard-content .breadcrumb>.active {
    text-align: left;
    font: normal normal normal 14px/17px Roboto-light;
    letter-spacing: 0px;
    color: #6785C1;
}

.dashboard-content .dark-mode {
    font: normal normal normal 18px/26px Roboto;
    color: #F0F0F0;
    text-align: right;
    /* margin-top: -1.5em; */
    /* margin-right: 1em; */
    /* margin-bottom: 0.5em; */
    cursor: pointer;
    margin: 0.6em 1em 0.5em 0;
    padding-top: -1em;
    padding-bottom: -1em;
}

.dashboard-content .dark-mode .light-dark-icon {
    background-image: url(../assets/dark_mode.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 1.6em;
    padding-bottom: 1em;
}

.dashboard-content .dark-mode .switchmode {
    margin-top: 2px;
}

.dashboard-content .breadcrumb {
    padding: 7px 2px;
    margin-bottom: 5px;
    border-radius: 4px;
    margin: 0;
    font-size: 12px;
    margin-left: 0.5em;
}

.dashboard-content .breadcrumb>li {
    text-align: left;
    display: inline-block;
    font: normal normal normal 14px/17px Roboto-light;
    letter-spacing: 0px;
    color: #5F5F5F;
}

.dashboard-content .breadcrumb>li+li:before {
    padding: 0 3px 0 1px;
    color: #5F5F5F;
    content: "\003e";
    font-size: 11px;
}

.dashboard-content .breadcrumb>.active {
    text-align: left;
    font: normal normal normal 14px/17px Roboto-light;
    letter-spacing: 0px;
    color: #6785C1;
}

.dashboard-content .light-mode {
    font: normal normal normal 18px/26px Roboto;
    color: #313131;
    text-align: right;
    display: flex;
    cursor: pointer;
    margin: 0.6em 1em 0.5em 0;
    padding-top: -1em;
    padding-bottom: -1em;
}

.dashboard-content .light-mode .light-dark-icon {
    background-image: url("../assets/dark_mode.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 1.6em;
    padding-bottom: 1em;
}

.dashboard-content .light-mode .switchmode {
    margin-top: 2px;
}

.header .user-icon {
    background: transparent url('../assets/User_profile.png') 0% 0% no-repeat padding-box;
    height: 4.2em;
    width: 4em;
    background-size: 3em;
    margin-top: 1em;
}

.header .logout-icon {
    background: transparent url('../assets/log-out.svg') 0% 0% no-repeat padding-box;
    width: 1.5em;
    background-size: 1.5em;
    margin-top: 3em;
    margin-right: 11px;
    opacity: 0.8;
    cursor: pointer;
}

.header .user-detail {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 140px;
    margin-top: 1em;
    /* padding-right: 0.5em;
    font: normal normal 300 20px/19px Roboto-light; */
}

<<<<<<< HEAD

=======
.content-view
{
    color:white;
}
>>>>>>> cd52670dee4b912c1685ba4a4305165ea5b9c96b
/* Dashboard styles */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
    transition: all 0.3s ease-out;
}

html,
body {
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}

p.small {
    font-size: 14px;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.icon {
    margin-top: 4px;
    height: 1em;
    display: inline-block;
    width: 1em;
    vertical-align: middle;
}

.nav-icon {
    position: relative;
    top: 10px;
    right: -1400px;
    margin-top: 4px;
    margin-left: 10px;
    height: 2em;
    display: inline-block;
    width: 2em;
    vertical-align: middle;
}

.card-image {
<<<<<<< HEAD
    margin-top: 15px;
    height: 80px;
    width: 80px;
=======
    margin-top: 18px;
    /* stroke: #F0F0F0, !important; */
>>>>>>> cd52670dee4b912c1685ba4a4305165ea5b9c96b
}

.cardtitle {
    margin-top: 0px;
}

.card-text {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: #469bfc;
}

.card {
    display: block;
    position: relative;
    top: 0px;
    max-width: 300px;
    height: 180px;
    background-color: #ddd!important;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
}

.cardtitle {
    color: cornflowerblue !important;
}

.cardcontent {
    margin-top: 20px;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.card:hover:before {
    transform: scale(2.15);
}